body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #575757;
}


.navbar input {
    background: #272A33;
    border: none;
    padding: 10px 40px;
    border-radius: 12px;
    color: aliceblue;
}

.navbar span {
    position: absolute;
    right: 0;
    margin-right: 230px;
    margin-top: -6px
}

.navbar span img {
    width: 20px;
}

.carousel-cell {
    width: 15%;
    height: 35px;
    margin-right: 10px;
    background: #202020;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-weight: 600;
}

.carousel-cell a:hover {
    color: black;
}

.carousel-cell:hover {
    background-color: white;
    color: #202020;
}

.flickity-page-dots,
.flickity-prev-next-button.previous,
.flickity-prev-next-button.next {
    display: none;
}

.carousel-cell:before {
    display: block;
}


.links {
    text-decoration: none;
    color: #E3E3E3;
}

.title h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
}

.sub-info h1 {
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.card-info .card {
    background-color: #E3E3E3;
    padding: 40px 50px;
    border-radius: 16px;
    margin-bottom: 100px
}

.card-info .card p {
    color: black;
    font-weight: 600;
}

.horizontal-line {
    border-bottom: 1px solid #202020;
    margin-bottom: 100px;
}

.horizontal-line-footer {
    border-bottom: 1px solid #202020;
    margin-top: 100px;
}

.section-style{
    margin-top: 130px;
}


.section-style .number p {
    background-color: #202020;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-right: 35px;
}

.section-style .subtitle {
    color: white;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

.info-terms-card {
    background-color: #202020;
    border-radius: 16px;
    color: white;
    padding: 30px 50px;
}

.info-terms-card {
    margin-top: 10px;
}

footer a h1 {
    color: white;
    font-size: 20px;
    text-decoration: none !important;
}


footer .policy a {
    text-decoration: none;
    color: #8B90A0;
}

.social-media {
    float: right;
}

.back-top {
    width:50px;
    height:50px;
    border-radius: 50%;
    background:#524e4e;
    position:fixed;
    bottom:40px;
    right:25px;
    display:none;
    color: white;
    font-size: 33px;
    text-align: center;
    transition: 0.1s;
    cursor: pointer;
    opacity: .5;
}

.sticky {
    position: fixed;
    top: 0;
    width: 85%;
    backdrop-filter: blur(12.5px);
    padding: 20px 29px;
    z-index: 1;
    left: 2;
    margin-top: 0 !important;

}


@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden !important;
    }

    .navbar img {
        margin-bottom: 40px;
    }

    .navbar input {
        width: 100%;
    }

    .carousel-cell {
        width: 50%;
        font-weight: 700;
    }

    .carousel-cell a:hover {
        color: black;
    }

    .carousel-cell:hover {
        background-color: white;
    }

    .social-media {
        display: none !important;
    }

    .title h1 {
        font-size: 35px;
    }

    .navbar span img {
        display: none;
    }

    .flickity-slider {
        margin-left: -85px;
    }

    .sub-info img {
        position: absolute;
        margin-left: -14px;
        margin-top: -80px;

    }

    .sub-info h1 {
        color: white;
        font-size: 25px;
        font-weight: 700;
        margin-left: -30px;
        margin-bottom: 20px;
    }

    .card-info .card {
        margin-bottom: 40px;
    }

    .col-md-5 {
        margin: 20px 0px;
    }

    .align {
        margin-top: -50px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        backdrop-filter: blur(12.5px);
        padding: 20px 0px;
        z-index: 1;
        left: 0;
        margin-top: 0 !important;

    }



}